* {
    border: none;
    border-radius: 0;
    font-family: hack;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

label.module {
    padding: 0 10px;
    border-radius: 20;
    background: #14161b;
    margin: 5px;
}

#workspaces {
    background: #14161b;
    margin: 5px;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 10px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    transition: padding 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    margin: 5px 0px;
}

#workspaces button.active {
    color: #34394c;
    background-color: white;
    border-radius: 20;
    margin: 5px;
    padding: 0 15px;
}

#workspaces button.urgent {
    color: #d0679d;
}

#battery.charging {
    color: #5de4c7;
}

#battery.warning {
    color: #fffac2;
}

#battery.critical {
    color: #d0679d;
}

#tray {
    background: #14161b;
    margin: 5px;
    border-radius: 20px;
    padding: 0 10px;
}

#tray > * {
    margin: 0 5px;
}
