* {
    border: none;
    border-radius: 0;
    font-family: hack;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.92);
    color: white;
}

label.module {
    padding: 0 10px;
    border-radius: 20;
    background: #1f1d2e;
    margin: 5px;
}

#workspaces {
    padding: 0 10px;
    padding-right: 16px;
    border-radius: 20;
    background: #1f1d2e;
    margin: 5px;
}

#workspaces button {
    padding: 0 10px;
    border-radius: 20px;
    color: white;
}

#workspaces button.active {
    color: #5de4c7;
}

#workspaces button.urgent {
    color: #d0679d;
}

#battery.charging {
    color: #5de4c7;
}

#battery.warning {
    color: #fffac2;
}

#battery.critical {
    color: #d0679d;
}
