@define-color bg #14161b;
@define-color fg #E0E2EA;
@define-color dim-fg #C4C6CD;
@define-color bright-fg #E0E2EA;

@define-color black #2c2e33;
@define-color red #E5ADB9;
@define-color green #A2DFC0;
@define-color yellow #E3CA85;
@define-color blue #95C5E5;
@define-color magenta #E5B6E6;
@define-color cyan #7EDFDE;
@define-color white #C4C6CD;

* {
    font-family: hack;
    font-size: 16px;
    min-height: 36px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    color: @fg;
}

label.module {
    padding: 0 10px;
}

#workspaces button {
    padding: 0 10px;
    color: @green;
}

#workspaces button.active {
    color: @bright-fg;
}

#workspaces button.empty {
    color: @black;
}

#workspaces button.urgent {
    color: @red;
}

#battery.charging {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#tray {
    padding: 0 10px;
}

#bluetooth {
    color: @fg;
}

#bluetooth.disabled {
    color: @red;
}

#bluetooth.connected {
    color: @blue;
}

#pulseaudio.bluetooth {
    color: @blue;
}

#pulseaudio.muted {
    color: @red;
}

#network.disconnected {
    color: @red;
}

#network.disabled {
    color: @red;
}
